* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: rgba(32, 32, 32,1);
    --secondary: rgba(94, 226, 204,1);
    --behind: rgba(245, 245, 245, 1);
}

body {

    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: var(--behind);
    line-height: 1.5;
  }
 
/* header style */

header {
    padding: 20px 0;
    background-color: var(--primary);
}

header h1 {
    font-weight: normal;
    color: var(--primary);
    background-color: var(--secondary);
    padding: 0 5px 0 80px;
    margin: 0;
    font-size: 6vw;
    line-height: 1;
    display: inline;
}

header a {
    font-weight: normal;
    text-decoration: none;
    color: var(--secondary);
    margin: 0 15px;
    font-size: 2vw;
}

header nav {
    float: right;
    margin: 25px 0;
}

header nav ul li {
    display: inline;
}

/* end of header style */

/* hero img */
.hero {
    background-image: url("../images/hero.jpg") ;
    height: 300px;
    background-size: cover;
}

/* end of hero img */

/*style sections heads*/
.section {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

  }

.section h2 {
    flex: 0 0 20%;
    font-weight: normal;
    color: var(--primary);
    text-align: right;
    padding: 40px;
    border-right: 5px solid var(--primary);
    font-size: 4vw;
    line-height: 1;
    width: 20%;
}

.section div {
    flex: 0 0 75%;
}

.section p {
    margin: 20px;
    font-size: 1.8vw;
    color: var(--primary);
}

/*end of style sections heads*/

/*work section*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid var(--secondary);
    color: var(--primary);
    min-height: 200px;
    max-height: 200px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 30px 0;
    margin: 10px;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 2vw;
}

.flex-item:first-child {
    min-height: 250px;
    flex-basis: 100%;
}

.flex-item:hover {
    background-color: rgba(245, 245, 245, 0.5);
}

.flex-item div {
    background-color: var(--secondary);
    padding: 0 0 0 2px;
}

.run-buddy {
    background-image: url("../images/run.png");
}

.horiseon {
    background-image: url("../images/horiseon.jpg");
}

.placeholder {
    background-image: url("../images/placeholder.png");
}

/*end of work section*/

