* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: rgba(32, 32, 32,1);
    --secondary: rgba(94, 226, 204,1);
    --behind: rgba(245, 245, 245, 1);
}

body {

    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: var(--behind);
    line-height: 1.5;
  }
 
/* header style */

header {
    padding: 20px 0;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-weight: normal;
    color: var(--primary);
    background-color: var(--secondary);
    padding: 0 5px 0 80px;
    margin: 0;
    font-size: 6vw;
    line-height: 1;
}

header a {
    text-decoration: none;
    color: var(--secondary);
    margin: 10px 20px;
    padding: 10px 0;
    font-size: 2vw;
    background-image: linear-gradient(var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2vw;
    background-position: bottom;
    transition: all 0.25s ease-in;
}

header nav {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

header a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}

header nav ul li {
    display: inline;
}

/* end of header style */

/* hero img */
.hero {
    background-image: url("../images/hero.jpg") ;
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* end of hero img */

/*style sections heads*/
.section {
    max-width: 90%;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

  }

.section h2 {
    flex: 0 0 20%;
    font-weight: normal;
    color: var(--primary);
    text-align: right;
    padding: 40px;
    border-right: 5px solid var(--primary);
    font-size: 4vw;
    line-height: 1;
    width: 20%;
}

.section div {
    flex: 0 0 75%;
}

.section p {
    margin: 20px;
    font-size: 1.8vw;
    color: var(--primary);
}

/*end of style sections heads*/

/*work section*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 3px solid var(--secondary);
    color: var(--primary);
    min-height: 200px;
    max-height: 200px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 30px 0;
    margin: 10px;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 100%;
    transition: all 0.8s;
    font-size: 2vw;
    flex-basis: 40%;
}

.flex-item:first-child {
    min-height: 250px;
    flex-basis: 100%;
}

.flex-item:hover {
    background-color: rgba(245, 245, 245, 0.5);
}

.flex-item div {
    background-color: var(--secondary);
    padding: 0 0 0 2px;
}

.run-buddy {
    background-image: url("../images/run.jpg");
}

.horiseon {
    background-image: url("../images/horiseon.jpg");
}

.placeholder {
    background-image: url("../images/placeholder.png");
}

/*end of work section*/

/*contact section*/

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

.contact address a {
    color: var(--primary);
    font-size: 2vw;
    font-style: italic;
    text-decoration: none;
    padding: 3px;
    background-image: linear-gradient(var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2vw;
    background-position: bottom;
    display: inline-block;
  }

  
.contact address a:hover {
    background-size: 100%;
    color: var(--secondary);
  }
  
