* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: rgb(245, 245, 245);
    line-height: 1.5;
  }
 
/* header style */

header {
    padding: 20px 0;
    background-color: rgb(32, 32, 32);
}

header h1 {
    font-weight: normal;
    color: rgb(32, 32, 32);
    background-color: rgb(94, 226, 204);
    padding: 0 5px 0 80px;
    margin: 0;
    font-size: 6vw;
    line-height: 1;
    display: inline;
}

header a {
    font-weight: normal;
    text-decoration: none;
    color: rgb(94, 226, 204);
    margin: 0 15px;
    font-size: 2vw;
}

header nav {
    float: right;
    margin: 25px 0;
}

header nav ul li {
    display: inline;
}

/* end of header style */

/* hero img */
.hero {
    background-image: url("../images/hero.jpg") ;
    height: 300px;
    background-size: cover;
}

/* end of hero img */

/*style sections heads*/
.section {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

  }

.section h2 {
    font-weight: normal;
    color: rgb(32, 32, 32);
    text-align: right;
    padding: 40px;
    border-right: 5px solid rgb(32, 32, 32);
    font-size: 4vw;
    line-height: 1;
    width: 20%;
}

.section div {
    flex: 0 0 75%;
}

.section p {
    margin: 20px;
    font-size: 1.8vw;
    color: rgb(32, 32, 32);
}